<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
  <add key="HostSmtp" value="smtp.gmail.com" />
  <add key="Port" value="587" />
  <add key="EnableSsl" value="true" />
  <add key="SenderName" value="ReportService" />
  
 <!-- Tutaj podaj adres poczty nadawczej -->
  <add key="SenderEmail" value="" />
  
  <!-- Tutaj po encrypt: dopisz 16 znakowe hasło poczty nadawczej -->
  <add key="SenderEmailPassword" value="encrypt:" />
  
  <!-- Tutaj podaj adres odbiorcy -->
  <add key="ReceiverEmail" value="" />
  <add key="SendHours" value="8" />
  <add key="IntervalInMinutesForSendingErrors" value="1" />
  <add key="toSend" value="true" />
 </appSettings>
</configuration>